<app-nav-bar></app-nav-bar>

<div class="container">
  <br>
  <br>
    <form class="card" style="width: 300px; border-radius: 15px;">
      <br>
      <div class="form-column">
        <div class="col">
          <label for="full_name">Full Name</label>
          <input type="text" class="form-control" id="full_name" placeholder="Enter Full Name" name="full_name"
            style="border-radius: 20px;">
        </div>
        <div class="col">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="Enter email" name="email"
            style="border-radius: 20px;">
        </div>
        <div class="col">
          <label for="phone_number">Phone Number</label>
          <input type="number" class="form-control" id="phone_number" placeholder="Enter Phone Number" name="phone_number"
            style="border-radius: 20px;">
        </div>
        <div class="col">
          <label for="paw">Password</label>
          <input type="password" class="form-control" id="paw" placeholder="Enter Password" name="pswd"
            style="border-radius: 20px;">
        </div>
        <div class="col">
          <label for="Confirm_Password">Confirm Password</label>
          <input type="password" class="form-control" id="Confirm_Password" placeholder="Enter Confirm Password" name="Confirm_Password"
            style="border-radius: 20px;">
        </div>
        <div class="col">
          <br>
          <input type="checkbox" class="form-checkbox" id="paw"><span> Remember me </span>
        </div>
        <div class="col">
          <br>
          <button type="submit" class="btn btn-danger"  style="border-radius: 20px;">Sign Up</button>
        </div>
      </div>
      <br>
    </form>
  </div>
  <br>
  <br>
  <app-footer></app-footer>