<!--navbar started-->
<app-nav-bar></app-nav-bar>

<!--Login started-->
<div class="container">
  <br>
  <br>
    <form class="card" style="width: 300px; border-radius: 15px;">
      <br>
      <div class="form-column">
        <div class="col">
          <label for="email">Email</label>
          <input type="text" class="form-control" id="email" placeholder="Enter email" name="email"
            style="border-radius: 20px;">
        </div>
        <div class="col">
          <label for="paw">Password</label>
          <input type="password" class="form-control" id="paw" placeholder="Enter password" name="pswd"
            style="border-radius: 20px;">
        </div>
        <div class="col">
          <br>
          <input type="checkbox" class="form-checkbox" id="paw"><span> Remember me </span>
        </div>
        <div class="col">
          <br>
          <button type="submit" class="btn btn-danger"  style="border-radius: 20px;">LogIn</button>
        </div>
      </div>
      <br>
    </form>
  </div>



  <!--Login Ended-->
<br>
  <br>
  <!--Footer started-->
  <app-footer></app-footer>
    <!--Footer Ended-->