<app-nav-bar></app-nav-bar>
<app-image-carousel></app-image-carousel>
<!--cards open-->
<div class="container"><br>
    <div class="row">
        <div class="col-md">

            <div class="card">
                <div class="card-header">
                    <img [src]="image1" width="300px">
                </div>
                <div class="card-body">
                    <p> The premium consumer is the person who will pay a little
                        more for something they’ve come to expect only from your brand.</p>
                    <h4> Normal Customers</h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger"> button</button>
                </div>

            </div>
        </div>

        <div class="col-md">

            <div class="card">
                <div class="card-header">
                    <img [src]="image1" width="300px">
                </div>
                <div class="card-body">
                    <p> The premium consumer is the person who will pay a little
                        more for something they’ve come to expect only from your brand.</p>
                    <h4>Primium Customers</h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger"> button</button>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <img [src]="image1" width="300px">
                </div>
                <div class="card-body">
                    <p> The premium consumer is the person who will pay a little
                        more for something they’ve come to expect only from your brand.</p>
                    <h4>NRI Customers</h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger"> button</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--cards ended-->

<br>
<div class="container">
    <h3>About Aegon Life Insurance Company</h3>
    <p style="text-align:justify">
        Today’s digital world has made consumption of information easy and equipped people to research and understand
        what they need, and how they can fulfill that need. Being a new-age life insurance company, we have taken a bold
        leap and migrated to a digital and direct-to-customer approach in a bid to empower customers to make their own
        financial decisions.<br><br>
        With a recent global study estimating 92% underinsurance in a typical Indian household, customer education has
        become more important than ever. In line with this concerning statistic, spreading awareness and educating
        customers on adequate protection by meaningfully engaging with them is the highest priority for us at Aegon Life
        Insurance.<br><br>
        We are dedicated towards helping our customers secure their long-term financial future.
    </p>
</div>
<br>

<!--cards open-->
<div class="container"><br>
    <h1 style="text-align:center;">All you need to know about Insurance</h1><br>
    <div class="row">
        <div class="col-md">

            <div class="card">
                <div class="card-header">
                    <img [src]="image1" width="300px">
                </div>
                <div class="card-body">
                    <p> The premium consumer is the person who will pay a little
                        more for something they’ve come to expect only from your brand.</p>
                    <h4> Normal Customers</h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger"> button</button>
                </div>

            </div>
        </div>

        <div class="col-md">

            <div class="card">
                <div class="card-header">
                    <img [src]="image1" width="300px">
                </div>
                <div class="card-body">
                    <p> The premium consumer is the person who will pay a little
                        more for something they’ve come to expect only from your brand.</p>
                    <h4>Primium Customers</h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger"> button</button>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="card">
                <div class="card-header">
                    <img [src]="image1" width="300px">
                </div>
                <div class="card-body">
                    <p> The premium consumer is the person who will pay a little
                        more for something they’ve come to expect only from your brand.</p>
                    <h4>NRI Customers</h4>
                </div>
                <div class="card-footer">
                    <button class="btn btn-danger"> button</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--cards ended-->


<app-footer></app-footer>