
<div class="container">
  <p>
    Bootstrap is a free and open-source CSS framework directed at responsive, mobile-first front-end web development. It contains CSS and (optionally) JavaScript-based design templates for typography, forms, buttons, navigation, and other interface components.

As of August 2021, Bootstrap is the tenth most starred project on GitHub, with over 152,000 stars, behind freeCodeCamp (over 328,000 stars), Vue.js framework, React library, TensorFlow and others.[2]
  
Href is the basic attribute provided by Html to navigate through pages which reloads the page on click. routerLink is the attribute provided by angular to navigate to different components without reloading the page. Major difference between both is that href kills the state of the current page where routerLink doesnt lose the state of the page.
</p>
</div>
<div class="card" style="width: 18rem;">
  <img src="assets/images/img5.jpg" class="card-img-top" alt="img5">
  <div class="card-body">
    <p class="card-text">BOOTSTRAP</p>
  </div>
</div>

